<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Simple Responsive Table in CSS</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
  <link rel="stylesheet" href="static/css/style.css">

</head>
<!-- partial:index.partial.html -->
<body>
  <div class="row">

    <div class="col-xs-12">
      <h2>Stock Table</h2>
      <div id="stocktable"></div>
    </div>

    <div class="col-xs-12">
      <h2>BarChart</h2>
      <div class="barChart" id="stockChart"></div>
    </div>
</body>
<!-- <table>
  <caption>Statement Summary</caption>
  <thead>
    <tr>
      <th scope="col">Stock</th>
      <th scope="col">Market Cap</th>
      <th scope="col">PE Ratio</th>
      <th scope="col">EPS</th>
      <th scope="col">Dividend Yield</th>
      <th scope="col">Payout Ratio</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-label="Account">Visa - 3412</td>
      <td data-label="Due Date">04/01/2016</td>
      <td data-label="Amount">$1,190</td>
      <td data-label="Period">03/01/2016 - 03/31/2016</td>
    </tr>
    <tr>
      <td scope="row" data-label="Account">Visa - 6076</td>
      <td data-label="Due Date">03/01/2016</td>
      <td data-label="Amount">$2,443</td>
      <td data-label="Period">02/01/2016 - 02/29/2016</td>
    </tr>
    <tr>
      <td scope="row" data-label="Account">Corporate AMEX</td>
      <td data-label="Due Date">03/01/2016</td>
      <td data-label="Amount">$1,181</td>
      <td data-label="Period">02/01/2016 - 02/29/2016</td>
    </tr>
    <tr>
      <td scope="row" data-label="Acount">Visa - 3412</td>
      <td data-label="Due Date">02/01/2016</td>
      <td data-label="Amount">$842</td>
      <td data-label="Period">01/01/2016 - 01/31/2016</td>
    </tr> 
  </tbody>
</table>   -->
<!-- partial -->
  <script src='https://d3js.org/d3.v4.min.js'></script>
  <script src="static/js/barChart.js"></script>
  <script src="static/js/script.js"></script>

  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>
