<!DOCTYPE HTML>
<html>
	<head>
		<title>Stock Market Visualization</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="./static/css/main.css" />
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="logo">
							<span><img src="./static/images/logo.png" alt="" style="width:117px;height:117px;"/>
						</div>
						<div class="content">
							<div class="inner">
								<h1>Stock Market Visualization</h1>
								<p>This series of visualizations was created to help better understand the state of the US stock market before the Coronavirus pandemic and also the effect of the pandemic on the stock market. Anything and everything on this website is meant for only educational purposes and not to be taken as financial advice.</p>
							</div>
						</div>
						<nav>
							<ul>
								<li><a class="btn" href="../preCovid">S&P 500 Pre-Covid19</a></li>
								<li><a class="btn" href="../crashes_in_history">Crashes in History</a></li>
								<li><a class="btn" href="../disparate_impact">Disparate Impact</a></li>
							</ul>
						</nav>
					</header>

				<!-- Footer -->
					<footer id="footer">
						<p class="name">Shubham Gupta | Ann Yoo Abbott | Rudy Venguswamy</p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>			

	</body>
</html>
